
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');
.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100vh;
    align-items: center;
}
.content .header .tittle{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 2%;
    font-family: 'Abhaya Libre', serif;

}
.point-info{
    display: none;
    width: 100%;
    justify-content: space-evenly;

}
.points{
    display: none;
}
.check1{

}
.inputs{
    display: flex;
    flex-direction: column;
    margin-bottom: 5% ;
}
.point-info i:first-child{
    color: green;
}
.point-info i:nth-child(2){
    color: red;
}
.point-span{
    border-radius: 5px;
    border: 1px solid gray;
    padding: 2%;
    margin: 2%;
}
.add-point-span{
    border-radius: 5px;
    border: 1px solid gray;
    padding: 2%;
    background-color: green;
}
.header {
    height: 25vh;
    background-color: #F6F6F6;
    width: 100%;
    border-bottom: 2px solid black;
    border-radius: 3%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.3s ease-in-out;
}

.header-toggle {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#mapa-main {
    position: absolute;
    height: 75vh;
    width: 100vw;
    left: 0;
    top: 25vh;
    z-index: 2;
}
