#menu-principal-contenidos {
  padding-top: 0%;
}
#menu-detalles-sala-wrapper {
  width: 100%;
}
.menu-info-sala-item {
  font-family: Arial, Helvetica, sans-serif;
}
.menu-info-sala-titulo {
  padding: 7px 50px;
  font-size: 30px;
  border-bottom: solid 1px;
}
.menu-detalles-sala-header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 30px;
  padding: 10px 20px;
  border-bottom: solid 4px black;
  align-items: center;
}
#qr-compartir-wrapper {
  display: flex;
  justify-content: center;
  padding-left: 0;
}
